/* 
    Document   : mobile.style
    Created on : 13-04-2013, 11:21:17 AM
    Author     : Alvaro
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


.alinear{ text-align: center; }
.box_mobile{ background-color: #f5f5f5;}
body{background-color: #f5f5f5;}
.logo_mobile{
    width: 25%;
    height: 25%;
    float: left;
}

.barra_mobile{
    
   background-color: #f5f5f5;
   width: 100%;
   /*height: 100%;*/    
}
.menu_mobile{
    width: 25%;
    height: 25%;
    float: right;
}

.cuerpo{
    
    background-image:url("/y3/images/mobile/fondo.png");
    background-size: 100% 100%; 
}



