/* 
    Document   : style
    Created on : 05-03-2013, 02:00:21 PM
    Author     : Alvaro
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.alinear{ text-align: center; }
.justificar { text-align: justify;}
.subrayado { text-decoration: underline; }
.sangria {text-indent: 50px;}
/*.capitalize {text-transform:capitalize;}*/
.margin_socio_top{margin-top: 50px;}
.foto_que_es_jumpit_top{margin-top: 30px;}


.fijo{
    
    position: fixed;
    background-image:url("/y3/images/barra4_15x100.png"); 
    width: 100%;
    height: 100px;
    /*background-color: #cacaca;*/
    
}

.cuerpo{ 
    margin-top:100px;
    /*background-color: #cacaca;*/
}

.logo{
    position: absolute;
    margin-left: 110px;
    margin-top: 15px;

}

.menu{
    margin-right: 150px;
    margin-top: 40px;
    font-size: 12pt;
}

.menu a{
    
    color:white;
    
}

.parrafo{
    
    font-size: 12pt;
    color:gray;
    line-height: 1.5;
    /*text-align: center;*/
}

.titulo{
    /*text-shadow: 0px 2px 3px #555;*/
    margin-bottom: 30px;
    margin-top: 40px;
    color:#00a8ff;
    font-size: 24pt;
}

.borde_limite{
    
    border-bottom-style:dotted;
    border-width:1px;
    border-bottom-color:#cacaca;
    margin-top: 70px;
    margin-bottom: 70px;
}

.fondo{
    background-color: #cacaca;
    
}
